body{
    background-color: #5459BF;
    color: #fff;
    font-family: 'Work Sans', sans-serif;
}

#logo > img{
    width: 150px;
}

#text-group{
    padding: 2rem;
}

.small-heading{
    text-transform: uppercase;
    color: #c8c8c8
}

.main-heading{
    font-weight: bolder;
    font-size: 5rem;
    line-height: 1;
}

.normal-text{
    font-size: 1rem;
}

.btn-links{
    margin-top: 20px;
    color: #fff;
    background-color: #53D383;
    box-shadow: 5px 2px 2px #3e4294;
}

.btn-links:hover{
    color: #fff !important;
    background-color: #41a869 !important;
}

.mr-5{
    margin-right: 20px;
}

#timer-content{
    margin-top: 6rem;
}

#timer-group{
    padding: 2rem;
}

#timer-text{
    font-size: 5rem !important;
}


/********** Responsive ***********/
@media only screen and (max-width: 600px) {
    #logo{
        text-align: center;
    }

    .main-heading{
        font-size: 3rem;
    }

    .normal-text{
        font-size: 0.7rem;
    }

    .btn-links{
        font-size: 0.7rem !important;
    }

    #timer-content{
        margin-top: 1rem;
    }

    #timer-text{
        font-size: 2.5rem !important;
    }
}